.main .container {
  width: 986px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
}
#search {
  width: 650px;
  /* height: 150px; */
  padding: 24px 90px;
  border: 1px dotted #88a8cf;
}
#search h1 {
  padding: 1px;
  font-size: 26px;
  color: #333;
}
#search > div {
  border-bottom: 1px dashed #88a8cf;
  height: 35px;
  display: flex;
  align-items: center;
  /* width: 100%; */
}
#search > div > div {
  width: 83px;
  display: flex;
}
#search h1 + div > input {
  /* border: 1px solid green; */
  /* display: block; */
  width: 380px;
}
#search h1 + div + div input {
  /* border: 1px solid green; */
  margin-left: 5px;
}
#search .radio {
  /* border: 1px solid red; */
  display: flex;
  font-size: 13px;
}
#search button {
  margin: 0 0 0 20px;
  background-color: #028cc4;
  height: 28px;
  width: 94px;
  border: 1px solid lightgray;
  display: flex;
  /* place-items: center; */
  color: white;
  justify-content: center;
  align-items: center;
  /* justify-self: flex-end; */
  /* display: block; */
  margin-left: 372px;
  margin-top: 8px;
}
#search button i {
  margin-right: 5px;
  padding-top: 5px;
}
#results {
  width: 650px;
  margin-top: 20px;
  /* border: 1px solid #333; */
  /* margin: auto; */
}
#results > div {
  padding: 8px 0px;
  border-bottom: 1px solid #e6eef6;
}
#results h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #028cc4;
}
#results > div > h3 + div {
  /* border: 1px solid #333; */
  color: #555;
  font-size: 11px;
  line-height: 15px;
  /* display: block; */
}

#sidebarNav {
  width: 288px;
  height: 122px;
  margin-left: 20px;
  border: 1px dotted #bacfe6;
  padding: 10px 5px;
  background-color: #edf1e9;
}
#sidebarNav h4 {
  padding: 0 0 0 15px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#sidebarNav > a {
  margin-left: 1px;
  padding: 0 0 0 15px;
  display: block;
  text-decoration: none;
  font-size: 12px;
}
#sidebarNav > a > i {
  width: 30px;
  padding: 3px 0 3px 5px;
  color: #333;
}
#sidebarNav > a > span {
  color: #028cc4;
}
#img-logo {
  margin-left: 600px;
  /* margin-top: 100px; */
}
#img-logo > h4 {
  margin-left: 110px;
  margin-bottom: 8px;
}
#img-logo > img {
  margin-left: 20px;
}
#card_section8 {
  width: 100%;
  height: 250px;
  background-color: rgb(70, 63, 63);
  margin-top: 50px;
}
#card_section9 {
  width: 100%;
  height: 100px;
  background-color: rgb(68, 165, 68);
  background-attachment: fixed;
}
#card_section8 > img:nth-child(1) {
  /* display: block; */
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 660px;
  /* margin: auto; */
  /* place-items: center; */
}
#card_section8 > img {
  /* display: block; */
  /* display: flex; */
  margin-left: 20px;
  height: 20%;
  /* margin-top: 50px; */
}
#card_section8 > #mar {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  color: white;
}
#card_section8 > #mar > p:nth-child(1) {
  margin-left: 630px;
}
#card_section8 > #mar1 {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  color: antiquewhite;
  margin-left: 480px;
  font-size: 10px;
}
#card_section9 > div {
  margin-left: 600px;
  color: antiquewhite;
  /* margin-top: 10px; */
}
#img-logo {
  height: 50px;
}
#img-logo > img {
  /* border: 1px solid #333; */
  width: 100px;
  height: 50px;
}
