

#header{
    background-color: #00AEEF;
    height: 200px;
    text-align: center;
    font-family: calibri;
    margin-bottom: 45px;
}

#header > h1 {
    font-size: 50px;
    padding-top: 30px;
    color: #FFFFFF;
}

h1+p{
    padding-top:-30px;
    color: #FFFFFF;
}

#text{
    width:80%;
    margin:auto;
}

#text > p,h3{
    color: #777777;
}